.top-bar
	h1= heading[0]
	ul
		li Regional Menu 
			ul
				li Languaje 
					select
						option(aria-checked="true")= languaje[0]
						option(aria-checked="false")= languaje[1]
				li Currency
					select
						option(aria-checked="true")= currency[0]
						option(aria-checked="false")= currency[1]
						