.top-bar
	p= heading[0]
		label(for="languaje") Languaje 
		select(name="languaje" id="languaje")
			option(aria-checked="true")= languaje[0]
			option(aria-checked="false")= languaje[1]
		label(for="currency") Currency
		select(name="currency" id="currency")
				option(aria-checked="true")= currency[0]
				option(aria-checked="false")= currency[1]